[Unit]
Description=Glacier UX polkit agent
After=lipstick.service

[Service]
Type=simple
ExecStart=/usr/bin/glacier-polkit-agent
Restart=on-failure
TimeoutStartSec=240

[Install]
WantedBy=user-session.target
